header {
        background-color: #FFFFFF;
        background-image: url("../images/icon.png");
        background-position: 20px center;
        background-repeat: no-repeat;
        border-bottom: 1px solid #CCCCCC;
        height: 70px;
        width: 100%
}
